.payment{
  display: flex;
  text-align: center;
  justify-content: center;
  height: 500px;
  width: 400px;
  border-radius: 10px;
}


.payment-min-height {
  height: calc(100vh - 211.3px)
}

.payment h1 {
  color: $success;
}
