<div class="footer">
  <div class="footer-links">
    <div class="btn-footer-left">
        <%= link_to "Become a Brunchee venue", root_path, class: "btn-footer" %>
    </div>
    <div class="btn-social-media">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
