<section class="Perks">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-3">
        <i class="fas fa-utensils home-icons" alt="Utensils placeholder image" width="32" height="32"></i>

        <h2 class="Perks__heading">BOOK & BRUNCH</h2>
        <p class="Perks__text">Find and book a brunch available around your area of choice.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-filter home-icons" alt="Filter placeholder image" width="32" height="32"></i>

        <h2 class="Perks__heading">FILTER LIKE A HERO</h2>
        <p class="Perks__text">Get boozy at brunch, no matter the drink! </p>
      </div>
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-wine-glass home-icons" alt="Wine placeholder image" width="32" height="32"></i>

        <h2 class="Perks__heading">SOMETHING A LITTLE DIFFERENT?</h2>
        <p class="Perks__text"> Find a brunch venue with a unique twist! Try a hand of boozy darts or jump into a adult ball pool.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <i class="fas fa-glass-cheers home-icons" alt="Cheers placeholder image" width="32" height="32"></i>

        <h2 class="Perks__heading">BOTTOMS UP</h2>
        <p class="Perks__text"> Continue to say it until it becomes ‘bosshomsup’.</p>
      </div>
    </div>
  </div>
</section>
