<div class="banner" style="background-image: url(<%= image_path "hero-banner.jpg" %>)">
  <div class="container text-left"style="padding-top:200px;">
    <h2 class="text-white py-4">Find your Brunchee today</h2>
      <div class="home-search">
        <form action="/venues" method="get"class="row d-flex align-item-left">
              <div class="col-xs-12 col-sm-6 col-md-6" style="display:flex;flex-direction: row;justify-content: center;">
                <input type="text" class="input form-control" placeholder="Search location..." name="location">
                <button class="btn"><i class="fa fa-search"></i></button>
              </div>
        </form>
      </div>
  </div>
</div>

  <h3 class="text-center py-4"style="color:#303841;">Top Picks</h3>

<!--  -->
