<div class="bookings-form">
  <div class="bookings-form-title">
    <h2 class="text-center my-2"style="color:#303841;font-size:24px;">Make a reservation</h2>
  </div>
<hr>
  <div>
    <%= simple_form_for([@venue, @booking]) do |f| %>
    <%= f.input :party_size %>
    <%= f.input :date %>
    <%= f.button :submit, "Get Brunched!", class: "btn-primary", style: "margin-bottom: 20px;" %>
    <% end %>
    <div id="loader-4">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>

    <div id="total">
  </div>
</div>


