.btn-footer {
  color: white;
}


.fa-search {
  padding: 12px;
  border-radius: 5px;
  background-color: #BE3144;
  color: white;
  border-left: none;
  cursor: pointer;
}

.fa:hover {
  background-color: #CE4E5F;
}

.fa-heart{
  position: absolute;
  color:#C14545;
  font-size:40px;
  margin-left: 230px;
}
