// .homepage-card {
//   height: 320px;
//   width: 300px;
//   border-radius: 8px;
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
//   line-height: 25px;
//   box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.25);
//   cursor: pointer;
//   transition: 0.4s;
//   margin: 8%;
// }



.homepage-card {
  background: white;
  height: 200px;
  width:460px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin-bottom: 10%;
}

.homepage-card img {
  height: 100%;
  width: 35%;
  object-fit: cover;
}

.homepage-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.homepage-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.homepage-card .card-infos {
  position: relative;
  padding: 16px;
  width:65%;
}
h3 {
color:#303841;
}


.bookings-card {
  width: 100%;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bookings-card a {
  color: #735372;
}
