.footer {
  height: 80px;
  background: #BE3144;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 30px;


}

.footer-copyright {
  color: white;
  text-align: center;
  margin-bottom: 5px;
}

.fab {
  padding: 8px;
  font-size: 20px;
  color: white;
}
.min-height {
  min-height: calc(100vh - 175px)
}
